*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  height: auto;
  width: 100vw;
  padding: 20px 15px;
  background-color: hsl(210deg, 60%, 98%);
}
body a {
  text-decoration: none;
  color: hsl(219deg, 85%, 26%);
  cursor: pointer;
}

main {
  height: auto;
  width: 100%;
}
main header {
  height: 9vh;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main header .title-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
main header .title-section h2 {
  font-size: 28px;
}
main header .title-section p {
  font-size: 24px;
  font-weight: bold;
  padding: 0 16px;
  line-height: 35px;
  border-radius: 0.65rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(219deg, 85%, 26%);
}
main header button {
  border: none;
  outline: none;
  background: transparent;
  padding: 2px 8px;
  line-height: 40px;
  cursor: pointer;
  font-size: 16px;
  color: hsl(219deg, 12%, 42%);
}
main header button:hover {
  color: hsl(219deg, 85%, 26%);
}
main .notification-area {
  height: auto;
  width: 100%;
}
main .notification-area .notification-card {
  min-height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 15px;
}
main .notification-area .notification-card img {
  height: 45px;
  width: 45px;
  align-self: flex-start;
  margin-top: 10px;
}
main .notification-area .notification-card .text-section {
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
}
main .notification-area .notification-card .text-section #notification-text {
  color: hsl(219deg, 12%, 42%);
  position: relative;
}
main .notification-area .notification-card .text-section #notification-text #name {
  color: hsl(224deg, 21%, 14%);
}
main .notification-area .notification-card .text-section #notification-text #name:hover {
  color: hsl(219deg, 85%, 26%);
}
main .notification-area .notification-card .text-section #notification-text .title-link {
  color: hsl(219deg, 12%, 42%);
}
main .notification-area .notification-card .text-section #notification-text .title-link:hover {
  color: hsl(219deg, 85%, 26%);
}
main .notification-area .notification-card .text-section .time-received {
  color: hsl(219deg, 14%, 63%);
}
main .notification-area .notification-card:nth-child(1) {
  background-color: hsl(205deg, 33%, 90%);
}
main .notification-area .notification-card:nth-child(1) .text-section #notification-text::after {
  content: "";
  position: absolute;
  margin-top: 8px;
  height: 10px;
  width: 10px;
  background-color: hsl(1deg, 90%, 64%);
  border-radius: 50%;
  margin-left: 10px;
}
main .notification-area .notification-card:nth-child(2) {
  background-color: hsl(205deg, 33%, 90%);
}
main .notification-area .notification-card:nth-child(2) .text-section #notification-text::after {
  content: "";
  position: absolute;
  margin-top: 8px;
  height: 10px;
  width: 10px;
  background-color: hsl(1deg, 90%, 64%);
  border-radius: 50%;
  margin-left: 10px;
}
main .notification-area .notification-card:nth-child(3) {
  background-color: hsl(205deg, 33%, 90%);
}
main .notification-area .notification-card:nth-child(3) .text-section #notification-text::after {
  content: "";
  position: absolute;
  margin-top: 8px;
  height: 10px;
  width: 10px;
  background-color: hsl(1deg, 90%, 64%);
  border-radius: 50%;
  margin-left: 10px;
}
main .notification-area .notification-card:nth-child(4) .text-section #message-container {
  border: 1px solid hsl(219deg, 14%, 63%);
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  color: hsl(219deg, 12%, 42%);
}
main .notification-area .notification-card:nth-child(4) .text-section #message-container:hover {
  background-color: hsl(205deg, 33%, 90%);
  cursor: pointer;
}

footer {
  height: 7vh;
  width: 100%;
  position: relative;
}
footer .attribution {
  width: 80%;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(219deg, 85%, 26%);
}
footer .attribution a {
  font-size: 16px;
  color: hsl(224deg, 21%, 14%);
}

@media only screen and (max-width: 362px) {
  main header .title-section h2 {
    font-size: 24px;
  }
  main header .title-section p {
    font-size: 20px;
    padding: 0 10px;
    line-height: 25px;
    border-radius: 0.55rem;
  }
  main header button {
    font-size: 14px;
  }
  main .notification-area .notification-card {
    min-height: 6vh;
  }
  main .notification-area .notification-card img {
    height: 35px;
    width: 35px;
    margin-top: 12px;
  }
  main .notification-area .notification-card .text-section {
    font-size: 16px;
    margin-top: 8px;
  }
  footer .attribution {
    font-size: 16px;
  }
  footer .attribution a {
    font-size: 14px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    padding: 24px;
  }
  main header .title-section h2 {
    font-size: 32px;
  }
  main header .title-section p {
    font-size: 28px;
    padding: 0 18px;
  }
  main header button {
    font-size: 20px;
  }
  main .notification-area .notification-card {
    margin-bottom: 18px;
    border-radius: 13px;
  }
  main .notification-area .notification-card img {
    height: 50px;
    width: 50px;
    margin-top: 12px;
  }
  main .notification-area .notification-card .text-section {
    font-size: 22px;
  }
  footer .attribution {
    font-size: 22px;
  }
  footer .attribution a {
    font-size: 18px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    padding: 24px 48px;
  }
  main header {
    margin-bottom: 24px;
  }
  main header .title-section h2 {
    font-size: 36px;
  }
  main header .title-section p {
    font-size: 32px;
    padding: 0 20px;
  }
  main header button {
    font-size: 24px;
  }
  main .notification-area .notification-card {
    margin-bottom: 22px;
    border-radius: 11px;
  }
  main .notification-area .notification-card img {
    height: 65px;
    width: 65px;
    margin-top: 10px;
  }
  main .notification-area .notification-card .text-section {
    font-size: 26px;
  }
  footer .attribution {
    font-size: 24px;
  }
  footer .attribution a {
    font-size: 22px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    height: 100%;
    width: 75%;
    padding: 24px 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0deg, 0%, 100%);
  }
  main {
    background-color: hsl(210deg, 60%, 98%);
    padding: 24px 48px;
    border-radius: 15px;
  }
  main header button {
    font-size: 26px;
  }
  main .notification-area .notification-card img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }
  main .notification-area .notification-card .text-section {
    font-size: 22px;
  }
  footer .attribution {
    font-size: 16px;
  }
  footer .attribution a {
    font-size: 14px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    height: 100%;
    width: 60%;
    padding: 24px 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .notification-area .notification-card img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }
  main .notification-area .notification-card .text-section {
    font-size: 20px;
  }
  footer .attribution {
    font-size: 18px;
  }
  footer .attribution a {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */